
Checks: >
  -*,
  bugprone-*,
  cert-*,
  clang-analyzer-*,
  misc-*,
  modernize-*,
  performance-*,
  portability-*,
  readability-*,
  clang-diagnostic-warning,
  -readability-uppercase-literal-suffix,
  -readability-magic-numbers,
  -modernize-avoid-c-arrays,
  -readability-identifier-length,
  -modernize-use-trailing-return-type,
  -bugprone-exception-escape,
  -readability-braces-around-statements,
  -readability-simplify-boolean-expr,
  -readability-function-cognitive-complexity,
  -misc-non-private-member-variables-in-classes,
WarningsAsErrors: '*'